<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <nav class="py-2 px-4 w-full flex items-center justify-between flex-wrap gap-4 border-b bg-white">
        <h1 class="text-gray-500 font-extrabold text-lg">Skin Disease Detection</h1>

        <a class="px-4 py-2 bg-red-400 hover:bg-red-500 rounded h-fit w-fit flex items-center text-white gap-2"
           href="/logout">
            <span>Logout</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15m3 0 3-3m0 0-3-3m3 3H9" />
            </svg>
        </a>

    </nav>
</body>
</html>