<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Upload Image</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    // Function to display the uploaded image
    function displayImage(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        
        reader.onload = function(e) {
          // Create an image element
          var imgElement = document.createElement("img");
          imgElement.src = e.target.result;
          imgElement.classList.add("rounded-lg", "h-[300px]", "max-w-[500px]");
          
          // Get the canvas div and append the image
          var canvasDiv = document.getElementById("canvas");
          canvasDiv.innerHTML = ""; // Clear existing content
          canvasDiv.classList.add("h-[400px]", "max-w-[500px]");
          canvasDiv.appendChild(imgElement);
        }
        
        reader.readAsDataURL(input.files[0]); // Read the uploaded file as a data URL
      }
    }
  </script>
</head>
<body class="bg-gray-100 flex flex-col justify-center items-center gap-4 h-screen">
    {% include 'components/nav.html' %}
  <div class="container mt-5 flex gap-4 flex-wrap w-11/12 p-4 rounded h-full">
    <div class="w-7/12 flex flex-col gap-4 p-2 rounded h-full">
      <div class="card flex flex-col gap-4">
        <div class="card-header">
          <h2 class="text-xl font-extrabold">Upload an Image</h2>
        </div>
        <div class="h-full">
            <div id="canvas" class="h-[350px]"></div>

          <form method="post" class="flex flex-col gap-4" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group flex flex-col gap-2">
              <label for="image">Select Image:</label>
              <input type="file" name="image" id="image" class="form-control-file rounded-lg
              border p-4" accept="image/*" onchange="displayImage(this);" required>
              <small class="form-text text-muted">Please select an image file (jpg, jpeg, png, etc.)</small>
            </div>
            <button type="submit" class="btn btn-primary w-full text-white font-semibold px-4 py-2
             bg-blue-400 rounded hover:bg-blue-500">Detect Skin Diseases</button>
          </form>
        </div>
      </div>
    </div>
    
    <div class="w-4/12 bg-gray-50 h-fit p-2 rounded flex flex-col gap-4">
      <h1 class="text-lg font-extrabold">Output</h1>
  
      {% if latest_result %}
          <p><strong>Skin Disease:</strong> {{ latest_result.skin_diseases }}</p>
          <p><strong>Accuracy:</strong> {{ latest_result.accuracy }}</p>
      {% else %}
          <p>No results available.</p>
      {% endif %}
    </div>
  </div>
</body>
</html>
